<!DOCTYPE html>
<html>
<head>
  <title>GeoChallengeGroveCollab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<!-- Adds link to Bootstrap Library-->
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  
	<!-- Adds script link to Bootstrap JS library and the Google Maps API-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg&libraries=places"></script>
	
</head>
<body>

<%= yield %>

</body>
</html>
